<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">GameStep</title>
</head>
<body>
<div class="row">
    <div class="col-9">
        <div class="row justify-content-center">
            <div th:if="${step >= 2}" class="col-2">
                <p th:text="|${carte1.name}, ${carte1.color}|">Nom et couleur de la carte 1</p>
            </div>
            <div th:if="${step >= 2}" class="col-2">
                <p th:text="|${carte2.name}, ${carte2.color}|">Nom et couleur de la carte 1</p>
            </div>
            <div th:if="${step >= 2}" class="col-2">
                <p th:text="|${carte3.name}, ${carte3.color}|">Nom et couleur de la carte 1</p>
            </div>
            <div th:if="${step >= 3}" class="col-2">
                <p th:text="|${carte4.name}, ${carte4.color}|">Nom et couleur de la carte 1</p>
            </div>
            <div th:if="${step >= 4}" class="col-2">
                <p th:text="|${carte5.name}, ${carte5.color}|">Nom et couleur de la carte 1</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p th:text="|${pot} euros|">pot en euros</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p th:text="${actualPlayer.name}">Nom du joueur</p>
                <span th:each="card : ${actualPlayer.cards}">
                    <p th:text="|${card.name}, ${card.color}|">Nom et couleur de la carte</p>
                </span>
                <form method="post" th:action="@{/game/{path}(path=${game.getId()})}">
                    <button class="btn btn-success" type="submit" name="decision" value="1">Se coucher</button>
                    <button class="btn btn-warning" type="submit" name="decision" value="2">Suivre</button>
                    <button class="btn btn-danger" type="submit" name="decision" value="3">Doubler la mise</button>
                    <input type="hidden" name="idPlayer" th:value="${actualPlayer.getId()}"/>
                    <input type="hidden" name="step" th:value="${step}"/>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-12" th:each="gamePlayer : ${gamePlayers}">
                <p th:text="${gamePlayer.getPlayer().getName()}">Nom du joueur</p>
                <p th:text="${gamePlayer.getGain()}">Gain du joueur</p>
            </div>
        </div>
    </div>
</div>
<div th:include="fragment-script"></div>
</body>
</html>