<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">Index</title>
</head>
<body>
<div class="row row-btn-index">
    <div class="col-3">
        <a th:href="@{/newGame}" class="btn btn-dark btn-lg btn-block">Nouvelle partie</a>
    </div>
    <div class="col-1"></div>
    <div class="col-3" th:if="${firstGamePlayer != null}">
        <a th:href="@{'/game/' + ${actualGame.getId()} + '/1/' + ${firstGamePlayer.getId()}}" class="btn btn-danger btn-lg btn-block">Partie en cours</a>
    </div>
</div>
<div th:include="fragment-script"></div>
</body>
</html>